.body {
    flex: 0.8;
    border: 1px solid red;
    height: 100vh;
    color: white;
    padding: 30px;
    background: linear-gradient(rgba(91, 87, 115), rgba(0,0,0,1));
}

.body__info {
    display: flex;
    padding: 10px;
    align-items: flex-end;
}

.body__infoText{ 
    flex: 1;
}

.body__info > img{
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 1);
}

.body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.body__infoText > p {
    font-size: 14px;
    padding: 0;
}