body::-webkit-scrollbar {
    display: none;
  }
  :root{
    scrollbar-color: rgb(210,210,210) rgb(46,54,69) !important;
    scrollbar-width: thin !important;
  }
  * 
  {
    margin: 0;
    padding: 0;
  }

  *, *::after, *::before 
  {
      box-sizing: inherit;
  }
  html {
    box-sizing: border-box;
  }
  body {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }